* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", "cursive", sans-serif;
}

h1 {
  text-align: center;
  color: black;
  margin-bottom: 15px;
  font-weight: bold;
}

.row {
  width: 100%;
}

section {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(0,0,0,0.3);
  border: 5px solid black;
  position: relative;
}


.chicken, .beef, .sushi {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 90px;
  height: 30px;
  margin: 0px;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  border-right: 0px; 
  border-top: 0px;
  font-weight: bold;
  text-align: center;
}

.chicken {
  background-color: #FFB6C1;
}

.beef {
  background-color: #FF0000;
  color: white;
}

.sushi {
  background-color: #FFFF00;
}

.content {
  margin-top: 30px;
}

/********** Desktops only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Tablets only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
    
  .col-md-6 { 
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }
}

/********** Mobiles only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}